/config/*.db
/config/bootstrap_password.txt
/.backup/
/backend/proxygw-backend

# Databases
/config/*.db
/config/*.db-shm
/config/*.db-wal
backend/proxygw.db
backend/proxygw.db-shm
backend/proxygw.db-wal

# Core Logs
/core/**/*.log
/core/mosdns/mosdns.log
/core/xray/access.log
/core/xray/error.log

# Core generated configs
/core/xray/config.json
/core/mosdns/config.yaml
/core/frr/frr.conf

# Core downloaded Geodata
/core/**/*.dat
/core/**/*.txt
/core/mosdns/geodata.ver

# Core binaries
/core/mosdns/mosdns
/core/xray/xray
/core/xray/xray.bak
