/core/mosdns/mosdns.log
/core/xray/access.log
/core/xray/error.log
/config/*.db
/config/bootstrap_password.txt
/.backup/
/core/xray/config.json
/backend/proxygw-backend

# Databases
/config/*.db
/config/*.db-shm
/config/*.db-wal
backend/proxygw.db
backend/proxygw.db-shm
backend/proxygw.db-wal

core/
